@import url('https://fonts.cdnfonts.com/css/katana');
 body{
  background-image: url("background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
   
 }

 .kat1{
   display: flex;
   flex-wrap: wrap;
 }
 p{
    font-family: 'katana', sans-serif;
    font-size: x-large;
    margin: 15px;

 }


input[type="text"] {
    width: 15%;
    padding: 12px 20px;
    margin: 13px ;
    font-size:large;
    box-sizing:content-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    
  }